@font-face {
    font-family: 'Youth';
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/Youth.ttf);
  }
  
.hcentered { position: absolute; left: 50%; transform: translateX(-50%); }
.vcentered { position: absolute; top: 50%; transform: translateY(-50%); }
.centered { position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%);}
  
body{
    background-color: #bae1ff;
    font-family: 'Youth';
    font-weight: 700;
    overflow: hidden;
}

input{
    border-radius: 5px;
    font-family: 'Youth';
}

button{
    background-color: #ffffff;
    border-radius: 5px;
    font-family: 'Youth';
    border: skyblue 1px solid;
}

.main-title{
    width: 100%;
    font-size: 2em;
    text-align: center;
    border: solid 1px black;
    border-radius: 8px;
}

#game-list{
    display: grid;
}

#login-form{
    display: inline-grid;
}

.text-center{
    text-align: center;
}

#notice {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
    line-height: 100vh;
    background-color: rgba(0,0,0,0.2);
}


.forum-list{
    display: grid;
}

#navigation{
    border: 1px solid black;
    display: grid;
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    grid-template-columns: repeat(5, 20%);
    line-height: 50px;
    cursor: pointer;
}

#navigation, .navigation-btn{
    border: 1px solid black;

}